body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('../firebase/imatges/609d793380320.r_d.785-726-0.jpeg'); 
    background-size: cover;
    color: #f5f5f5;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    overflow: auto;
}

.container {
    width: 800px;
    max-height: 100vh;
    margin: auto; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    box-sizing: border-box;
    font-size: 0.9em;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,.form-group select,.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px; 
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.form-group button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 50px; 
    background-color: #1abc9c; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-top: 20px;
}

.form-group button[type="submit"]:hover {
    background-color: #16a085; 
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,.table td {
    padding: 10px;
    border: 1px solid #333;
    text-align: left;
}

.table th {
    background-color: #333;
    color: #fff;
}

.table td {
    background-color: rgba(255, 255, 255, 0.1);
}

.table td img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.alert-success {
    background-color: #2ecc71; 
}

.alert-danger {
    background-color: #e74c3c; 
}

.container > * {
    text-align: center;
}
